body {
  margin: 0;
  font-family: "Prompt", sans-serif;
}

html,
body,
#root {
  height: 100%;
  background-color: #6C120B;
  font-size: 34px;
}

h1 {
  font-size: 37px;
  color: #383838;
  margin-top: 50px;
  opacity: 0;
  transform: translateY(30%);
  animation: fade-in-bt 0.4s ease-in-out forwards;
}

input {
  font-family: "Prompt", sans-serif;
  height: 60px;
  color: #4e4e4e;
  border: 3px solid lightgray;
  border-radius: 10px;
  font-size: 34px;
  text-align: center;
  opacity: 0;
  transform: translateY(30%);
  animation: fade-in-bt 0.4s ease-in-out forwards;
}

button {
  all: unset;
  color: #ffffff;
  font-size: 24px;
  padding: 10px 30px;
  animation: all 0.5s ease-in-out forwards;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

button.normal {
  background-image: radial-gradient(ellipse farthest-corner at top left, #c41417 0%, #b31315 100%);
  border-radius: 10px;
}

button.text-button {
  color: #6f6f6f;
  &:hover {
    color: #c41417
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(30%);
  animation: fade-in-bt 0.4s ease-in-out forwards;
}

.credit {
  font-size: 12px;
  color: gray;
  margin-top: 10px;
}

.app {
  box-sizing: border-box;
  height: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  height: 90%;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  position: relative;
}

.message-container {
  overflow-y: scroll;
  background-color: #F7F7F7;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  flex: 1 1 0%;
  opacity: 0;
  transform: translateX(1%);
  animation: fade-in-lr 0.4s ease-in-out forwards;
}

.text {
  background-color: #ECECEC;
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.my-text {
  background-color: #ECECEC;
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.my-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 20px;
}

input.message {
  width: 100%;
  text-align: start;
  position: relative;
}

.send-tip {
  font-size: 14px;
  background-color: white;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.no-message {
  text-align: center;
  font-size: 16px;
  color: gray;
  margin-top: 10px;
}

.status {
  font-size: 14px;
  color: red;
  text-align: center;
  margin-top: 5px;
}

@keyframes fade-in-bt {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fade-in-lr {
  0% {
    opacity: 0;
    transform: translateX(1%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}